.cartContainer {
  background-color: #1414148d;
  backdrop-filter: blur(0.25rem);
  width: 100%;
  box-shadow: 0 0px 12px #14141480;
  margin: 4rem;
  margin-top: calc(100px + 4rem);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.cartContainer ul {
  list-style: none;
  width: 100%;
}

.cartContainer ul li {
  padding: 2rem;
}

.cartItemImage {
  width: 200px;
  height: auto;
  border-radius: 0.5rem;
  margin: 0 1rem;
  overflow: hidden;
}

.cartSummary {
  padding: 0 2rem;
  width: 100%;
  background: #121212;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cartItemDetails {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-wrap: balance;
  font-weight: 600;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.removeButton {
  cursor: pointer;
  background: transparent;
  border: none;
  width: fit-content;
  margin: 0 1rem;
}

.removeButton img {
  height: 24px;
  width: 24px;
}

.goToCheckoutButton {
  background: limegreen;
  color: black;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}

.cartItemName {
  width: max-content;
}

.cartContainer {
  background-color: #1414148d;
  backdrop-filter: blur(0.25rem);
  width: 100%;
  box-shadow: 0 0px 12px #14141480;
  margin: 4rem;
  margin-top: calc(100px + 4rem);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh; /* Ocupa todo el alto de la ventana */
}

.cartFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%; /* Ajustar el alto del contenedor para que ocupe el espacio */
}

.cartSummary {
  padding: 0 2rem;
  width: 30%;
  background: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cartContainer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.cartContainer ul li {
  padding: 2rem;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
}

.goToCheckoutButton {
  margin-top: 1rem;
  background: limegreen;
  color: black;
  border: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.goToCheckoutButton:hover {
  filter: opacity(0.5);
}
