* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
html body * {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
